<<<<<<< HEAD
:root {
  --bg: #ffffff;
  --text: #111111;
  --card: #f8f9fa;
  --primary: #6f42c1;
}

body.dark {
  --bg: #121212;
  --text: #ffffff;
  --card: #1e1e1e;
  --primary: #bb86fc;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}
=======
/* You can add global styles to this file, and also import other style files */
>>>>>>> 98d8d6c74a0bfe5816eb749557b682968fada1dd
